*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.main-button {
    border: 2px solid #49abfe;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 15px;
    min-width: 140px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.1s;
    margin-top: 12px;
    margin-bottom: 10px;
}

.main-button:hover {
    text-decoration: none;
    background-color: #49abfe;
}

.main-button:focus {
    outline: none;
}

.form-button {
    margin-top: 6px;
    background-color: #f89a35;
    border-color: #f89a35;
}

.form-button:hover {
    background-color: #f8bf35;
    border-color: #f8bf35;
}

h3 {
    font-weight: 400;
    font-size: 28px;
    position: relative;
    margin-bottom: 56px;
    margin-top: 0;
}

h3:after {
    content: '';
    position: absolute;
    bottom: -27px;
    left: 0;
    width: 40px;
    border-bottom: 2px solid #49abfe;
}

.form-group {
    position: relative;
    padding-top: 16px;
}

input,
label {
    display: block;
}

label {
    color: #8495b7;
    position: absolute;
    top: -3px;
    left: 0;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
}

label sup {
    color: #f44368;
}

input[type=text],
input[type=email],
input[type=password] {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid#cbd2df;
    width: 100%;
    margin-bottom: 24px;
    padding-bottom: 13px;
    font-size: 16px;
    color: #3e495e;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

input.is-invalid {
    border-color: #f44368;
}

input:focus {
    outline: none;
}

input:focus+label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
}

.form-group img {
    float: right;
}

.form-group .active {
    display: none;
}

input:focus+label .active {
    display: inline;
}

input:focus+label .not-active {
    display: none;
}

.display-none {
    display: none;
}

footer {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    color: #a7b3cb;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

@media (max-width: 575px) {
    h3 {
        font-weight: 400;
        font-size: 28px;
        position: relative;
        margin-bottom: 56px;
        margin-top: 0;
    }

    h3:after {
        width: 100%;
    }
}